doctype html
html(ng-app='product-browser', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title PRODUCT BROWSER
    link(href='/public/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/public/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(rel='shortcut icon', href='/public/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/public/favicon.ico', type='image/x-icon')
    link(href="/public/css/index.css" rel="stylesheet")
    link(href="/public/css/products.css" rel="stylesheet")

  body
    .container(ui-view)
        
    //- VENDOR
    script(src='/public/vendor/angular/angular.js')
    script(src='/public/vendor/angular-route/angular-route.js')
    script(src='/public/vendor/angular-animate/angular-animate.js')
    script(src='/public/vendor/jquery/dist/jquery.js')
    script(src='/public/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/public/vendor/underscore/underscore.js')
    script(src='/public/vendor/angular-ui-router/release/angular-ui-router.js')
    script(src='/public/vendor/angular-scroll-watch/build/angular-scroll-watch.min.js')
    
    //- CONTROLLERS
    script(src='/public/js/controllers/index.js')
    script(src='/public/js/controllers/products.js')
    
    //- FACTORIES
    script(src='/public/js/factories/product.js')

    
  
