.products-page
  .products-navbar.col-group.no-padding
    .col-mb-4.col-4
      h3(ng-click="openFilter()") FILTER
        i.fa.fa-filter.icons
    .col-mb-4.col-4
      h3(ng-click="resetFilters()") ALL 
        i.fa.fa-th-large.icons
    .col-mb-4.col-4
      h3(ng-click="showBookmarked()") SAVED
        i.fa.fa-bookmark.icons
  .products-searchbar.col-group.no-padding
    .col-mb-2.col-1.no-padding
      .search-icon-container(ng-click="search(searchTerm)")
    .col-mb-10.col-11.no-padding
      input(type="text" placeholder="Search by product name" ng-model="searchTerm")
    

  .products-container.col-group
    .col-mb-1.col-1.no-padding
    .col-mb-10.col-10.no-padding
      .card(ng-repeat="product in products.products")
        .card-content(ng-class="{flipIt : flip,  flipItBack : !flip}")
          .front(style="background-image: url({{product.pictureURLLarge[0]}}); background-size: cover;")
            .front-content
              .label {{product.label}}
              .price(ng-click="flip = true") {{product.sellingStatus[0].currentPrice[0].__value__ }} {{product.sellingStatus[0].currentPrice[0]['@currencyId']}} 
                .span More info...
              .bookmark-item.fa.fa-bookmark(ng-click="bookmarkItem(product)")
              .seller-name {{product.sellerInfo[0].sellerUserName[0]}}
              .seller-score.fa.fa-star(ng-show="product.sellerInfo[0].topRatedSeller[0]") Top Seller
          .back(ng-click="flip = false")
            
    .col-mb-1.col-1.no-padding
