@themeColor1 : #171716;
@themeColor2 : #0B0B0A;
@themeColor3 : #F2AE72;


body {
  background: @themeColor2;
  margin: 0px;
}

.container {
  max-width: 100% ! important;
  overflow-x: hidden;
  overflow-y: scroll;
}

// GENERAL

.no-padding {
  padding: 0 ! important;
}

.icons {
  font-size: 20px;
  margin-left: 5px;
}

// ANIMATIONS

.container.ng-enter,
.container.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.container.ng-enter,
.container.ng-leave.ng-leave-active {
  transition: all 0.8s ease-in-out;
  opacity: 0;
}
.container.ng-leave,
.container.ng-enter.ng-enter-active {
  transition: all 0.8s ease-in-out;
  opacity: 1;
}

.staggerFadeIn.ng-enter {
  transition: 1s;
  opacity: 0;
}
.staggerFadeIn.ng-enter-stagger {
  transition-delay: 0.1s;
}
.staggerFadeIn.ng-enter-active {
  opacity: 1;
}
.staggerFadeIn.ng-leave-active {
  transition: 0.6s;
  opacity: 0;
}
.fadeIn.ng-enter {
  transition: 0.5s;
  opacity: 0;
}
.fadeIn.ng-enter-active {
  opacity: 1;
}
.fadeOut.ng-leave {
  transition: 0.5s;
  opacity: 1;
}
.fadeOut.ng-leave-active {
  opacity: 0;
}
