@themeColor1 : #588C7E;
@themeColor2 : #F2E394;
@themeColor3 : #F2AE72;


/* --- Break Points --- */

@screenTablet:  768px;
@screenDesktop: 1000px;
@screenLarge:   1940px;


@media all and (min-width: 241px) and (max-width: 480px) {

  .col-mb-4, .col-4 {
    height: 50px ! important;

    h3 {
      font-size: 12px ! important;
      line-height: 2em ! important;
    }
  }

  .products-searchbar {
    top: 50px ! important;
  }

  .products-searchbar input {
    width: 100% ! important;
    padding: 10px ! important;
    font-size: 12px ! important;
    font-family: 'Roboto', sans-serif ! important;
    text-align: center ! important;
    height: 30px ! important;
  }


  .search-icon-container {
    background: @themeColor3 ! important;
    padding: 10px ! important;
    text-align: center ! important;
    cursor: pointer ! important;
    height: 35px ! important;
    line-height: 30px ! important;
  }

  .search-icon-container:after {
    font-size: 16px !important;
  }


  //PRODUCT CARDS
  .products-container {
    margin-top: 120px ! important;
    .card {
      background: @themeColor1;
      width: 250px;
      height: 300px;
      float: none ! important;
      margin: 10px ! important;
    }
  }

}
