
<div class="products-page">
  <div class="products-navbar col-group no-padding">
    <div class="col-mb-4 col-4">
      <h3 ng-click="openFilter()">FILTER<i class="fa fa-filter icons"></i></h3>
    </div>
    <div class="col-mb-4 col-4">
      <h3 ng-click="resetFilters()">ALL <i class="fa fa-th-large icons"></i></h3>
    </div>
    <div class="col-mb-4 col-4">
      <h3 ng-click="showBookmarked()">SAVED<i class="fa fa-bookmark icons"></i></h3>
    </div>
  </div>
  <div class="products-searchbar col-group no-padding">
    <div class="col-mb-2 col-1 no-padding">
      <div ng-click="search(searchTerm)" class="search-icon-container"></div>
    </div>
    <div class="col-mb-10 col-11 no-padding">
      <input type="text" placeholder="Search by product name" ng-model="searchTerm">
    </div>
  </div>
  <div class="products-container col-group">
    <div class="col-mb-1 col-1 no-padding"></div>
    <div class="col-mb-10 col-10 no-padding">
      <div ng-repeat="product in products.products" class="card">
        <div ng-class="{flipIt : flip,  flipItBack : !flip}" class="card-content">
          <div style="background-image: url({{product.pictureURLLarge[0]}}); background-size: cover;" class="front">
            <div class="front-content">
              <div class="label">{{product.label}}</div>
              <div ng-click="flip = true" class="price">{{product.sellingStatus[0].currentPrice[0].__value__ }} {{product.sellingStatus[0].currentPrice[0]['@currencyId']}} 
                <div class="span">More info...</div>
              </div>
              <div ng-click="bookmarkItem(product)" class="bookmark-item fa fa-bookmark"></div>
              <div class="seller-name">{{product.sellerInfo[0].sellerUserName[0]}}</div>
              <div ng-show="product.sellerInfo[0].topRatedSeller[0]" class="seller-score fa fa-star">Top Seller</div>
            </div>
          </div>
          <div ng-click="flip = false" class="back"></div>
        </div>
      </div>
    </div>
    <div class="col-mb-1 col-1 no-padding"></div>
  </div>
</div>