
<div class="products-page">
  <div class="products-navbar col-group no-padding">
    <div class="col-mb-4 col-4 col-filter">
      <h3>FILTER<i class="fa fa-filter icons"></i></h3>
    </div>
    <div class="col-mb-4 col-4">
      <h3 ng-click="products.resetFilters()">ALL <i class="fa fa-th-large icons"></i></h3>
    </div>
    <div class="col-mb-4 col-4">
      <h3 ng-click="products.bookmarkedProducts = true">SAVED<i class="fa fa-bookmark icons"></i></h3>
    </div>
  </div>
  <div class="products-filterbar col-group no-padding">
    <div class="col-mb-4 col-4">
      <h4 ng-click="reverse=!reverse; products.order('__value__', reverse)">$</h4>
    </div>
    <div class="col-mb-4 col-4">
      <h4 ng-click="products.highestUserRating()">Ratings</h4>
    </div>
    <div class="col-mb-4 col-4">
      <h4 ng-click="predicate = 'bidCount[0]'; reverse=!reverse">Bids</h4>
    </div>
  </div>
  <div ng-hide="products.bookmarkedProducts" class="products-container col-group">
    <div class="col-mb-1 col-1 no-padding"></div>
    <div class="col-mb-10 col-10 no-padding">
      <div ng-repeat="product in products.products | orderBy:predicate:reverse" class="card fadeIn fadeOut">
        <div ng-class="{flipIt : flip,  flipItBack : !flip}" class="card-content">
          <div style="background-image: url({{product.pictureURLLarge[0]}}); background-size: cover;" class="front">
            <div class="front-content">
              <div class="label">{{product.label}}</div>
              <div ng-click="flip = true" class="price">{{product.sellingStatus[0].currentPrice[0].__value__ }} {{product.sellingStatus[0].currentPrice[0]['@currencyId']}} 
                <div class="span">More info...</div>
              </div>
              <div ng-click="products.bookmarkItem(product)" class="bookmark-item fa fa-bookmark"></div>
              <div class="seller-name">{{product.sellerInfo[0].sellerUserName[0]}}</div>
              <div ng-show="product.sellerInfo[0].topRatedSeller[0]" class="seller-score fa fa-star">Top Seller</div>
            </div>
          </div>
          <div class="back">
            <div class="back-content">
              <div ng-click="flip = false" class="go-back fa fa-caret-square-o-left"></div>
              <div ng-click="products.bookmarItem(product)" class="bookmark-item-back fa fa-bookmark"></div>
              <h4 ng-show="product.sellingStatus[0].sellingState[0]">Selling status: {{product.sellingStatus[0].sellingState[0]}}</h4>
              <h4>Bids: {{product.sellingStatus[0].bidCount[0] || '0'}}</h4>
              <h5>End date: {{product.listingInfo[0].endTime[0] | date : 'short'}}</h5>
              <h5>Condition: {{product.condition[0].conditionDisplayName[0] || 'Unknown'}}</h5>
              <h5>Location: {{product.location[0]}}</h5>
              <h5>Payment method: {{product.paymentMethod[0]}}</h5>
              <div ng-click="products.openItemUrl(product.viewItemURL[0])" class="link">
                <h5>Link </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-mb-1 col-1 no-padding"></div>
  </div>
  <div ng-show="products.bookmarkedProducts" class="products-container col-group">
    <div class="col-mb-1 col-1 no-padding"></div>
    <div class="col-mb-10 col-10 no-padding">
      <div ng-repeat="product in products.bookmarks | orderBy:predicate:reverse" class="card fadeIn fadeOut">
        <div ng-class="{flipIt : flip,  flipItBack : !flip}" class="card-content">
          <div style="background-image: url({{product.pictureURLLarge[0]}}); background-size: cover;" class="front">
            <div class="front-content">
              <div class="label">{{product.label}}</div>
              <div ng-click="flip = true" class="price">{{product.sellingStatus[0].currentPrice[0].__value__ }} {{product.sellingStatus[0].currentPrice[0]['@currencyId']}} 
                <div class="span">More info...</div>
              </div>
              <div ng-click="products.bookmarkItem(product)" class="bookmark-item fa fa-bookmark"></div>
              <div class="seller-name">{{product.sellerInfo[0].sellerUserName[0]}}</div>
              <div ng-show="product.sellerInfo[0].topRatedSeller[0]" class="seller-score fa fa-star">Top Seller</div>
            </div>
          </div>
          <div class="back">
            <div class="back-content">
              <div ng-click="flip = false" class="go-back fa fa-caret-square-o-left"></div>
              <div ng-click="products.bookmarItem(product)" class="bookmark-item-back fa fa-bookmark"></div>
              <h4 ng-show="product.sellingStatus[0].sellingState[0]">Selling status: {{product.sellingStatus[0].sellingState[0]}}</h4>
              <h4>Bids: {{product.sellingStatus[0].bidCount[0] || '0'}}</h4>
              <h5>End date: {{product.listingInfo[0].endTime[0] | date : 'short'}}</h5>
              <h5>Condition: {{product.condition[0].conditionDisplayName[0] || 'Unknown'}}</h5>
              <h5>Location: {{product.location[0]}}</h5>
              <h5>Payment method: {{product.paymentMethod[0]}}</h5>
              <div ng-click="products.openItemUrl(product.viewItemURL[0])" class="link">
                <h5>Link </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-mb-1 col-1 no-padding"></div>
  </div>
</div>