.products-page .products-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.products-page .col-mb-4,
.products-page .col-4 {
  border: 1px solid black;
  height: 70px;
  background: #588c7e;
}
.products-page .col-mb-4 h3,
.products-page .col-4 h3 {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  line-height: 3em;
  font-size: 16px;
  text-align: center;
}
.products-page .products-searchbar input {
  margin-top: 70px;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
.products-page .search-icon-container {
  margin-top: 70px;
  background: #f2e394;
  height: 51px;
  padding: 10px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.products-page .search-icon-container:after {
  font-family: FontAwesome;
  content: '\f002';
  font-size: 25px;
}
.products-page .products-container {
  background: #f2e394;
}
.products-page .products-container .card {
  background: #588c7e;
  width: 250px;
  height: 300px;
  float: left;
  margin: 20px;
}
